extends ../layout

block styles

block content
  .container-fluid
    .row
      .col-md-12
        .card
          .card-content
            .table-responsive
              table.table
                thead
                  tr
                    th Start Date
                    th End Date
                    th Process Type
                    th Worker Name
                    th Process ID
                    th Process Time
                    th Active Time
                    th Float
                    th Task Ration
                    th Over Time
                    th Hold Day Time
                    th Rework Count
                    th Reward
                    th Warning
                    th Like
                    th Monthly Winner
                    th Half Year Winner
                    th Coffee
                    th Health
                    th Snake
                tbody
                  tr
                    td 2017/01/02(Mon)
                    td 2017/01/04(Wed)
                    td Medium Emergency Process
                    td Jane
                    td BP00001
                    td 60.43
                    td 28.33
                    td 32.1
                    td 1.5
                    td 10.93
                    td 0.0
                    td 1
                    td.td-actions.text-center
                      button.btn.btn-info.btn-simple(type='button', rel='tooltip')
                        i.material-icons grade
                    td.td-actions.text-center
                      button.btn.btn-danger.btn-simple(type='button', rel='tooltip')
                        i.material-icons assignment_late
                    td.td-actions.text-center
                      button.btn.btn-simple(type='button', rel='tooltip')
                        i.material-icons thumb_up
                    td.td-actions.text-center
                      button.btn.btn-info.btn-simple(type='button', rel='tooltip')
                        i.material-icons grade
                    td.td-actions.text-center
                      button.btn.btn-simple(type='button', rel='tooltip')
                        i.material-icons block
                    td.td-actions.text-center
                      button.btn.btn-simple(type='button', rel='tooltip')
                        i.material-icons block
                    td.td-actions.text-center
                      button.btn.btn-simple(type='button', rel='tooltip')
                        i.material-icons block
                    td.td-actions.text-center
                      button.btn.btn-simple(type='button', rel='tooltip')
                        i.material-icons block
                  tr
                    td 2017/01/02(Mon)
                    td 2017/01/03(Tue)
                    td Purchase
                    td John
                    td BP00002
                    td 30.43
                    td 348.73
                    td 332.54
                    td 13.5
                    td 10.93
                    td 3.05
                    td 13
                    td.td-actions.text-center
                      button.btn.btn-simple(type='button', rel='tooltip')
                        i.material-icons block
                    td.td-actions.text-center
                      button.btn.btn-simple(type='button', rel='tooltip')
                        i.material-icons block
                    td.td-actions.text-center
                      button.btn.btn-simple(type='button', rel='tooltip')
                        i.material-icons block
                    td.td-actions.text-center
                      button.btn.btn-info.btn-simple(type='button', rel='tooltip')
                        i.material-icons grade
                    td.td-actions.text-center
                      button.btn.btn-simple(type='button', rel='tooltip')
                        i.material-icons block
                    td.td-actions.text-center
                      button.btn.btn-simple(type='button', rel='tooltip')
                        i.material-icons block
                    td.td-actions.text-center
                      button.btn.btn-simple(type='button', rel='tooltip')
                        i.material-icons block
                    td.td-actions.text-center
                      button.btn.btn-simple(type='button', rel='tooltip')
                        i.material-icons block
                  tr
                    td 2017/01/02(Mon)
                    td 2017/01/03(Tue)
                    td Low Emergency Process
                    td Kim
                    td BP00003
                    td 11.43
                    td 33.33
                    td 21.1
                    td 1.52
                    td 3.93
                    td 0.3
                    td 1
                    td.td-actions.text-center
                      button.btn.btn-info.btn-simple(type='button', rel='tooltip')
                        i.material-icons grade
                    td.td-actions.text-center
                      button.btn.btn-danger.btn-simple(type='button', rel='tooltip')
                        i.material-icons assignment_late
                    td.td-actions.text-center
                      button.btn.btn-simple(type='button', rel='tooltip')
                        i.material-icons block
                    td.td-actions.text-center
                      button.btn.btn-info.btn-simple(type='button', rel='tooltip')
                        i.material-icons grade
                    td.td-actions.text-center
                      button.btn.btn-simple(type='button', rel='tooltip')
                        i.material-icons block
                    td.td-actions.text-center
                      button.btn.btn-simple(type='button', rel='tooltip')
                        i.material-icons free_breakfast
                    td.td-actions.text-center
                      button.btn.btn-simple(type='button', rel='tooltip')
                        i.material-icons block
                    td.td-actions.text-center
                      button.btn.btn-simple(type='button', rel='tooltip')
                        i.material-icons block
                  tr
                    td 2017/01/02(Mon)
                    td 2017/01/03(Tue)
                    td Medium Emergency Process
                    td Jane
                    td BP00004
                    td 640.43
                    td 284.33
                    td 352.1
                    td 31.5
                    td 10.93
                    td 6.0
                    td 134
                    td.td-actions.text-center
                      button.btn.btn-info.btn-simple(type='button', rel='tooltip')
                        i.material-icons grade
                    td.td-actions.text-center
                      button.btn.btn-simple(type='button', rel='tooltip')
                        i.material-icons block
                    td.td-actions.text-center
                      button.btn.btn-simple(type='button', rel='tooltip')
                        i.material-icons thumb_up
                    td.td-actions.text-center
                      button.btn.btn-info.btn-simple(type='button', rel='tooltip')
                        i.material-icons grade
                    td.td-actions.text-center
                      button.btn.btn-simple(type='button', rel='tooltip')
                        i.material-icons block
                    td.td-actions.text-center
                      button.btn.btn-simple(type='button', rel='tooltip')
                        i.material-icons free_breakfast
                    td.td-actions.text-center
                      button.btn.btn-simple(type='button', rel='tooltip')
                        i.material-icons block
                    td.td-actions.text-center
                      button.btn.btn-simple(type='button', rel='tooltip')
                        i.material-icons block
                  
block scripts
