extends ../layout

block styles

block content
  .container-fluid
    .row
      .col-md-12
        .card
          .card-content
            h4.card-title My Trophy
            .col-md-3
              .card.card-pricing.card-raised
                .content
                  .icon.icon-rose
                    img(src="/assets/img/cup.jpg")
                  h3.card-title World Champion 2 
            .col-md-3
              .card.card-pricing.card-raised
                .content
                  .icon.icon-rose
                    img(src="/assets/img/cup.jpg")
                  h3.card-title Company Champion 5 
            .col-md-3
              .card.card-pricing.card-raised
                .content
                  .icon.icon-rose
                    img(src="/assets/img/cup.jpg")
                  h3.card-title Monthly Champion 14
            .col-md-3
              .card.card-pricing.card-raised
                .content
                  .icon.icon-rose
                    img(src="/assets/img/cup.jpg")
                  h3.card-title Weekly Champion 38
    .row
      .col-md-6
        .card
          .card-content
            h4.card-title World Rankings
              .table-responsive
                table.table.table-hover
                  thead
                    tr
                      th.text-center No.
                      th 
                      th.text-center Name
                      th.text-center Point
                  tbody
                    tr
                      td.text-center 1
                      td.td-actions
                        button.btn.btn-info.btn-round(type='button', rel='tooltip')
                          i.material-icons change_history
                      td Anderson
                      td.text-center 65987
                    tr
                      td.text-center 2
                      td.td-actions
                        button.btn.btn-info.btn-round(type='button', rel='tooltip')
                          i.material-icons change_history 
                      td Clark
                      td.text-center 1545
                    tr
                      td.text-center 3
                      td.td-actions
                        button.btn.btn-info.btn-round(type='button', rel='tooltip')
                          i.material-icons change_history
                      td Evans
                      td.text-center 5452
                    tr
                      td.text-center 4
                      td.td-actions
                        button.btn.btn-info.btn-round(type='button', rel='tooltip')
                          i.material-icons change_history
                      td Foster
                      td.text-center 6555
                    tr
                      td.text-center 5
                      td.td-actions
                        button.btn.btn-info.btn-round(type='button', rel='tooltip')
                          i.material-icons change_history
                      td Ortiz
                      td.text-center 55412
      .col-md-6
          .card
            .card-content
              h4.card-title Company Rankings
                .table-responsive
                  table.table.table-hover
                    thead
                      tr
                        th.text-center No.
                        th 
                        th.text-center Name
                        th.text-center Point
                    tbody
                      tr
                        td.text-center 1
                        td.td-actions
                          button.btn.btn-info.btn-round(type='button', rel='tooltip')
                            i.material-icons change_history
                        td Anderson
                        td.text-center 65987
                      tr
                        td.text-center 2
                        td.td-actions
                          button.btn.btn-info.btn-round(type='button', rel='tooltip')
                            i.material-icons change_history
                        td Clark
                        td.text-center 1545
                      tr
                        td.text-center 3
                        td.td-actions
                          button.btn.btn-info.btn-round(type='button', rel='tooltip')
                            i.material-icons change_history
                        td Evans
                        td.text-center 5452
                      tr
                        td.text-center 4
                        td.td-actions
                          button.btn.btn-info.btn-round(type='button', rel='tooltip')
                            i.material-icons change_history
                        td Foster
                        td.text-center 6555
                      tr
                        td.text-center 5
                        td.td-actions
                          button.btn.btn-info.btn-round(type='button', rel='tooltip')
                            i.material-icons change_history
                        td Ortiz
                        td.text-center 55412
    .row
      .col-md-6
        .card
          .card-content
            h4.card-title Monthly Rankings
              .table-responsive
                table.table.table-hover
                  thead
                    tr
                      th.text-center No.
                      th 
                      th.text-center Name
                      th.text-center Point
                  tbody
                    tr
                      td.text-center 1
                      td.td-actions
                        button.btn.btn-info.btn-round(type='button', rel='tooltip')
                          i.material-icons change_history
                          .ripple-container
                      td Anderson
                      td.text-center 65987
                    tr
                      td.text-center 2
                      td.td-actions
                        button.btn.btn-info.btn-round(type='button', rel='tooltip')
                          i.material-icons change_history
                          .ripple-container 
                      td Clark
                      td.text-center 1545
                    tr
                      td.text-center 3
                      td.td-actions
                        button.btn.btn-info.btn-round(type='button', rel='tooltip')
                          i.material-icons change_history
                          .ripple-container 
                      td Evans
                      td.text-center 5452
                    tr
                      td.text-center 4
                      td.td-actions
                        button.btn.btn-info.btn-round(type='button', rel='tooltip')
                          i.material-icons change_history
                          .ripple-container
                      td Foster
                      td.text-center 6555
                    tr
                      td.text-center 5
                      td.td-actions
                        button.btn.btn-info.btn-round(type='button', rel='tooltip')
                          i.material-icons change_history
                          .ripple-container 
                      td Ortiz
                      td.text-center 55412
      .col-md-6
          .card
            .card-content
              h4.card-title Weekly Rankings
                .table-responsive
                  table.table.table-hover
                    thead
                      tr
                        th.text-center No.
                        th 
                        th.text-center Name
                        th.text-center Point
                    tbody
                      tr
                        td.text-center 1
                        td.td-actions
                          button.btn.btn-info.btn-round(type='button', rel='tooltip')
                            i.material-icons change_history
                            .ripple-container 
                        td Anderson
                        td.text-center 65987
                      tr
                        td.text-center 2
                        td.td-actions
                          button.btn.btn-info.btn-round(type='button', rel='tooltip')
                            i.material-icons change_history
                            .ripple-container  
                        td Clark
                        td.text-center 1545
                      tr
                        td.text-center 3
                        td.td-actions
                          button.btn.btn-info.btn-round(type='button', rel='tooltip')
                            i.material-icons change_history
                            .ripple-container  
                        td Evans
                        td.text-center 5452
                      tr
                        td.text-center 4
                        td.td-actions
                          button.btn.btn-info.btn-round(type='button', rel='tooltip')
                            i.material-icons change_history
                            .ripple-container  
                        td Foster
                        td.text-center 6555
                      tr
                        td.text-center 5
                        td.td-actions
                          button.btn.btn-info.btn-round(type='button', rel='tooltip')
                            i.material-icons change_history
                            .ripple-container  
                        td Ortiz
                        td.text-center 55412
block scripts
